body {
    font-family: 'Source Sans Pro';
}

body, html {
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

}

#home-container {
    position: fixed;
    display: none;
    top: 0;
}


#container {
    margin: auto;
    text-align: center;
    max-width: 500px;
    height: 100%;
    /*transform: translate(-500px,0);*/
}

#container ul {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;

}

#container ul li {
    width: 50%;
    text-decoration: none;
    height: 50%;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid grey;

}

#container ul li .q-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 50%;
}

#container ul li p {
    top: 50%;
    font-weight: 300;
    font-size: 1.2em;
}

#container ul li .q-img {
    height: 35%;
    /*bottom: 50%;*/
}


div#centerCircle {
    width: 40vw;
    height: 40vw;
    border-radius: 20vw;
    position: absolute;
    top: calc(50% - 20vw);
    bottom: 50%;
    left: 30%;
    right: 30%;
    border: 1px solid grey;
    background: #dde5ea;
}

div#centerCircle div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


div#centerCircle p {
    /**padding-top: 10vw;**/
    /**max-width: 25vw;**/
    position: relative;;
    margin: auto;
    font-size: 1.2em;
    padding-left: 2vw;
    padding-right: 2vw;
}

div#centerCircle p.small_blue {
    padding-top: 2vw;
    font-size: .8em;
    color: #04ade6;
}


.slideLeft {
    transform: translate(-120%,0);
    transition-property: transform;
    transition-duration: 1.5s;
}

nav#home-button {
  height: 10%;
  position: absolute;
  top: 0; 
  padding-top: 25px;
  padding-left: 29px;
  color: #0081ff;
    
}


#logo-container {
  height: 10%;
  position: absolute;
  top: 0; 
  padding-top: 23px;
  width: 100%;
}

#logo-container img {
  width: 35px;
}

nav#home-button #home {
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 2px solid #0081ff;
}

nav#back-and-next {
  height: 10%;
  position: absolute;
  bottom: 0; 
  width: 100%; 
  color: #75BBC8;
  display: none;
}

nav#back-and-next section {
  padding-left: 29px;
  padding-right: 29px;
  padding-bottom: 30px;
  position: relative; 
  display: flex;
  justify-content: space-between;
  
}

nav#back-and-next section div {

}




.bottom {
  top: 200; 
}

.slide h1 {
  font-weight: 300; 
  font-size: 1.6em;
  
}

.slide div {
  top: 50%;
  position: relative;
  width: 65%; 
  margin: auto;
  transform: translateY(-50%);
}

.slide div.image-container {
  position: relative;
  
}

.slide div.image-container img {
  width: 100%;
}

div.dark-theme {
  background: #006db6; 
  color: #ffffff; 
}

.slide div.about-container {
  transform: none;
  width: auto; 
  top: auto;
  margin-top: 108px;
  padding-left: 29px;
  padding-right: 29px;
  text-align: left;
}

.slide div.about-container h1 {
  display: inline-block;
  font-size: 36px;
  font-weight: 600;
  border-bottom: 3px solid #ffffff;
  margin: 0 0; 
  padding-bottom: 7px;
}

.slide div.about-container p {
  text-align: justify;
  font-weight: 300;
}

.slide div.about-container header {
  padding-bottom: 20%;
}

.slide div.about-container h2 {
  text-align: center;
  font-weight: 300;
  
}

.slide div.about-container button {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #006db6; 
  background: #ffffff;
  width: 50%;
  height: 48px;
  border-radius: 30px;
  margin: auto;
  margin-left: 25%;
  border: none;
}

.slide nav.cta {
  height: 10%;
  position: absolute;
  bottom: 0; 
  width: 100%; 
}

.slide nav.cta p {
  display: inline-block;
  margin: 0;
  font-weight: 300;
}

.slide nav.cta img {
  vertical-align: middle;
  margin-left: 15px;
}

/**
nav#back-and-next {
  height: 10%;
  position: absolute;
  bottom: 0; 
  width: 100%; 
  color: #75BBC8;
  display: none;
}
**/

input, select, textarea {
  font-family: 'Source Sans Pro';
  border: 1px solid grey; 
  width: 100%; 
  border-radius: 3px;
  padding: 11px 5px;
}

.slide {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.center {
    transform: translate(0,0);
    transition-property: transform;
    transition-duration: .8s;
    transition-timing-function: easeInQuad;
}

.right {
    transform: translate(100%,0);
    transition-property: transform;
    transition-duration: .8s;
    transition-timing-function: easeInQuad;
}

.left {
    transform: translate(-100%,0);
    transition-property: transform;
    transition-duration: .8s;
    transition-timing-function: easeInQuad;
}

